<div autoscroll="false">
    <div class="abs-center wd-xl">
        <!-- START panel-->
        <div class="text-center mb-xl">
            <div class="text-lg mb-lg">403</div>
            <p class="lead m0">Access Denied.</p>
            <p>You do not have access to the page.</p>
        </div>
        <ul class="list-inline text-center text-md mb-xl">
            <li><a ui-sref="" class="text-muted">Go Back</a></li>
        </ul>
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2015</span>
            <span>-</span>
            <span>Angle</span>
            <br/>
            <span>Bootstrap Admin Template</span>
        </div>
    </div>
</div>