<div class="panel panel-info">
    <div class="panel-heading" translate="text.betView"></div>
    <div class="panel-body">
        <alert-message-div/>
        <div class="row table-responsive">
            <div class="col-lg-9 col-lg-offset-1">
                <strong translate="text.acceptedBets"></strong>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr class="info">
                        <th>#</th>
                        <th translate="text.number"></th>
                        <th translate="text.drawDate"></th>
                        <th class="text-center" translate="text.company"></th>
                        <th class="text-right" translate="text.big"></th>
                        <th class="text-right" translate="text.small"></th>
                        <th class="text-right">4A</th>
                        <th class="text-right">4B</th>
                        <th class="text-right">4C</th>
                        <th class="text-right">4D</th>
                        <th class="text-right">4E</th>
                        <th class="text-right">4F</th>
                        <th class="text-right">3ABC</th>
                        <th class="text-right">3A</th>
                        <th class="text-right">3B</th>
                        <th class="text-right">3C</th>
                        <th class="text-right">3D</th>
                        <th class="text-right">3E</th>
                        <th class="text-right">5D</th>
                        <th class="text-right">6D</th>
                        <th>
                            {{'text.void' | translate}}
                            <div class="checkbox c-checkbox needsclick">
                                <label class="needsclick">
                                    <input class="needsclick" type="checkbox" id="aBetVoidAllCheckbox" name="aBetVoidAllCheckbox"
                                           ng-model="bet.aBetVoidCheckAll" ng-click="bet.checkAllBetVoid(1)"/>
                                    <span class="fa fa-check"></span>
                                </label>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="betObj in bet.bet.acceptedBets track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{betObj.number}}</td>
                        <td>{{betObj.drawDate}}</td>
                        <td class="text-center">{{betObj.companyDraw.company.code}}</td>
                        <td class="text-right">{{betObj.big}}</td>
                        <td class="text-right">{{betObj.small}}</td>
                        <td class="text-right">{{betObj["4a"]}}</td>
                        <td class="text-right">{{betObj["4b"]}}</td>
                        <td class="text-right">{{betObj["4c"]}}</td>
                        <td class="text-right">{{betObj["4d"]}}</td>
                        <td class="text-right">{{betObj["4e"]}}</td>
                        <td class="text-right">{{betObj["4f"]}}</td>
                        <td class="text-right">{{betObj["3abc"]}}</td>
                        <td class="text-right">{{betObj["3a"]}}</td>
                        <td class="text-right">{{betObj["3b"]}}</td>
                        <td class="text-right">{{betObj["3c"]}}</td>
                        <td class="text-right">{{betObj["3d"]}}</td>
                        <td class="text-right">{{betObj["3e"]}}</td>
                        <td class="text-right">{{betObj["5d"]}}</td>
                        <td class="text-right">{{betObj["6d"]}}</td>
                        <td>
                            <div class="checkbox c-checkbox needsclick">
                                <label class="needsclick">
                                    <input class="needsclick" type="checkbox" id="aBetVoidCheckbox_{{$index}}" name="aBetVoidCheckbox_{{$index}}"
                                           ng-change="bet.changeBetVoid(betObj)" ng-model="betObj.void" ng-disabled="!betObj.canVoid"/>
                                    <span class="fa fa-check"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <strong translate="text.limitedBets"></strong>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr class="info">
                        <th>#</th>
                        <th translate="text.number"></th>
                        <th translate="text.drawDate"></th>
                        <th translate="text.company"></th>
                        <th class="text-right" translate="text.big"></th>
                        <th class="text-right" translate="text.small"></th>
                        <th class="text-right">4A</th>
                        <th class="text-right">4B</th>
                        <th class="text-right">4C</th>
                        <th class="text-right">4D</th>
                        <th class="text-right">4E</th>
                        <th class="text-right">4F</th>
                        <th class="text-right">3ABC</th>
                        <th class="text-right">3A</th>
                        <th class="text-right">3B</th>
                        <th class="text-right">3C</th>
                        <th class="text-right">3D</th>
                        <th class="text-right">3E</th>
                        <th class="text-right">5D</th>
                        <th class="text-right">6D</th>
                        <th>
                            {{'text.void' | translate}}
                            <div class="checkbox c-checkbox needsclick">
                                <label class="needsclick">
                                    <input class="needsclick" type="checkbox" id="lBetVoidAllCheckbox" name="lBetVoidAllCheckbox"
                                           ng-model="bet.lBetVoidCheckAll" ng-click="bet.checkAllBetVoid(2)"/>
                                    <span class="fa fa-check"></span>
                                </label>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="warning" ng-repeat="betObj in bet.bet.limitedBets track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{betObj.number}}</td>
                        <td>{{betObj.drawDate}}</td>
                        <td class="text-center">{{betObj.companyDraw.company.code}}</td>
                        <td class="text-right">{{betObj.big}}</td>
                        <td class="text-right">{{betObj.small}}</td>
                        <td class="text-right">{{betObj["4a"]}}</td>
                        <td class="text-right">{{betObj["4b"]}}</td>
                        <td class="text-right">{{betObj["4c"]}}</td>
                        <td class="text-right">{{betObj["4d"]}}</td>
                        <td class="text-right">{{betObj["4e"]}}</td>
                        <td class="text-right">{{betObj["4f"]}}</td>
                        <td class="text-right">{{betObj["3abc"]}}</td>
                        <td class="text-right">{{betObj["3a"]}}</td>
                        <td class="text-right">{{betObj["3b"]}}</td>
                        <td class="text-right">{{betObj["3c"]}}</td>
                        <td class="text-right">{{betObj["3d"]}}</td>
                        <td class="text-right">{{betObj["3e"]}}</td>
                        <td class="text-right">{{betObj["5d"]}}</td>
                        <td class="text-right">{{betObj["6d"]}}</td>
                        <td>
                            <div class="checkbox c-checkbox needsclick">
                                <label class="needsclick">
                                    <input class="needsclick" type="checkbox" id="lBetVoidCheckbox_{{$index}}" name="lBetVoidCheckbox_{{$index}}"
                                           ng-change="bet.changeBetVoid(betObj)" ng-model="betObj.void" ng-disabled="!betObj.canVoid"/>
                                    <span class="fa fa-check"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <strong translate="text.rejectedBets"></strong>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr class="info">
                        <th>#</th>
                        <th translate="text.number"></th>
                        <th translate="text.drawDate"></th>
                        <th translate="text.company"></th>
                        <th class="text-right" translate="text.big"></th>
                        <th class="text-right" translate="text.small"></th>
                        <th class="text-right">4A</th>
                        <th class="text-right">4B</th>
                        <th class="text-right">4C</th>
                        <th class="text-right">4D</th>
                        <th class="text-right">4E</th>
                        <th class="text-right">4F</th>
                        <th class="text-right">3ABC</th>
                        <th class="text-right">3A</th>
                        <th class="text-right">3B</th>
                        <th class="text-right">3C</th>
                        <th class="text-right">3D</th>
                        <th class="text-right">3E</th>
                        <th class="text-right">5D</th>
                        <th class="text-right">6D</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="danger" ng-repeat="betObj in bet.bet.rejectedBets track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{betObj.number}}</td>
                        <td>{{betObj.drawDate}}</td>
                        <td class="text-center">{{betObj.companyDraw.company.code}}</td>
                        <td class="text-right">{{betObj.big}}</td>
                        <td class="text-right">{{betObj.small}}</td>
                        <td class="text-right">{{betObj["4a"]}}</td>
                        <td class="text-right">{{betObj["4b"]}}</td>
                        <td class="text-right">{{betObj["4c"]}}</td>
                        <td class="text-right">{{betObj["4d"]}}</td>
                        <td class="text-right">{{betObj["4e"]}}</td>
                        <td class="text-right">{{betObj["4f"]}}</td>
                        <td class="text-right">{{betObj["3abc"]}}</td>
                        <td class="text-right">{{betObj["3a"]}}</td>
                        <td class="text-right">{{betObj["3b"]}}</td>
                        <td class="text-right">{{betObj["3c"]}}</td>
                        <td class="text-right">{{betObj["3d"]}}</td>
                        <td class="text-right">{{betObj["3e"]}}</td>
                        <td class="text-right">{{betObj["5d"]}}</td>
                        <td class="text-right">{{betObj["6d"]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <strong translate="text.slip"></strong>
                <pre ng-bind="bet.bet.slipText"></pre>
                <button type="button" clipboard text="bet.bet.slipText" on-copied="bet.copySuccess()" class="btn btn-circle btn-green">{{'text.copy' | translate}}</button>
            </div>
        </div>
        <br/>
        <form name="betForm" class="form-horizontal" ng-submit="bet.voidBet()" novalidate>
            <fieldset ng-disabled="bet.isSaving">
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-3">
                        <button type="submit" class="btn btn-warning" ng-disabled="!bet.voidArray || bet.voidArray.length == 0" translate="button.void"></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
