<menu-button-div/>
<div class="panel panel-info">
    <div class="panel-heading" translate="text.companyDrawListing"></div>
    <div class="panel-body">
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table st-pipe="company.companyDrawListing" st-table="company.tableData" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th st-sort="company" st-sort-default="true" st-skip-natural="true" translate="text.company"></th>
                    <th st-sort="drawDate" st-skip-natural="true" translate="text.drawDate"></th>
                    <th st-sort="status" st-skip-natural="true" translate="text.status"></th>
                    <th translate="text.drawTime"></th>
                    <th translate="text.stopBetTime"></th>
                    <th translate="text.checkResultsDate"></th>
                    <th>
                        <div class="checkbox c-checkbox needsclick">
                            <label class="needsclick">
                                <input class="needsclick" type="checkbox" value="" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th><input class="form-control" st-search="company"/></th>
                    <th><input class="form-control" st-search="drawDate"/></th>
                    <th><input class="form-control" st-search="status"/></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-show="!company.isLoading">
                <tr ng-repeat="companyObj in company.tableData">
                    <td data-title="#">{{company.recordsToSkip + $index + 1}}</td>
                    <td data-title="Company">{{companyObj.company.name}}</td>
                    <td data-title="Draw Date">{{companyObj.drawDate}}</td>
                    <td data-title="Status"><common-get-text ng-if="companyObj.active != void(0)" value="companyObj.status" object="company.yesNoOptions"></common-get-text></td>
                    <td data-title="Draw Time">{{companyObj.drawTime}}</td>
                    <td data-title="Stop Bet Time">{{companyObj.stopBetTime}}</td>
                    <td data-title="Check Results Date">{{companyObj.checkResultsDate}}</td>
                    <td class="text-right">
                        <div class="checkbox c-checkbox needsclick">
                            <label class="needsclick">
                                <input class="needsclick" type="checkbox" value="" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="company.isLoading">
                <tr>
                    <td colspan="8" class="bg-white loader-hrcb">
                        <loader-div/>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-items-by-page="company.recordsPerPage" st-pagination="" st-template="views/common/pagination_template.html"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
