<div class="row">
    <div class="col-lg-3 col-md-6">
        <!-- START panel-->
        <div class="panel panel-info" ng-click="$root.$state.go('root.main.tenderPendingAcknowledgementListing')">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <em class="fa fa-files-o fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="text-lg">{{dashboard.pendingAcknowledgementTenderArray.length}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <p class="m0">Pending Acknowledgement Tender(s)</p>
                    </div>
                </div>
            </div>
            <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
            </a>
            <!-- END panel-->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <!-- START panel-->
        <div class="panel panel-green" ng-click="$root.$state.go('root.main.tenderPendingApprovalListing')">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <em class="fa fa-files-o fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="text-lg">{{dashboard.pendingApprovalTenderArray.length}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <p class="m0">Pending Approval Tender(s)</p>
                    </div>
                </div>
            </div>
            <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
            </a>
            <!-- END panel-->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <!-- START panel-->
        <div class="panel panel-purple" ng-click="$root.$state.go('root.main.prPendingApprovalListing')">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <em class="fa fa-shopping-cart fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="text-lg">{{dashboard.pendingApprovalPRArray.length}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <p class="m0">Pending Approval Purchase Request(s)</p>
                    </div>
                </div>
            </div>
            <a class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
            </a>
            <!-- END panel-->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <!-- START panel-->
        <div class="panel panel-danger" ng-click="$root.$state.go('root.main.poPendingApprovalListing')">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <em class="fa fa-file-text fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="text-lg">{{dashboard.pendingApprovalPOArray.length}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <p class="m0">Pending Approval Purchase Order(s)</p>
                    </div>
                </div>
            </div>
            <a class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
            </a>
            <!-- END panel-->
        </div>
    </div>
</div>
