<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="/assets/images/logo.png" alt="Horeca Bid" class="block-center img-responsive"/>
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">SIGN IN TO CONTINUE.</p>
            <form role="form" ng-submit="main.auth(loginForm.$valid)" name="loginForm" novalidate="" class="form-validate mb-lg">
                <div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.username.$touched}">
                    <input id="username" type="text" name="username" placeholder="Username" autocomplete="off" class="form-control"
                           ng-model="main.login.username" ng-minlength="6" autofocus required/>
                    <span class="fa fa-user form-control-feedback text-muted"></span>
                    <div class="help-block" ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched">
                        <div ng-messages-include="views/common/messages.html"></div>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.password.$touched}">
                    <input id="password" type="password" name="password" placeholder="Password" class="form-control"
                           ng-model="main.login.password" ng-minlength="6"/ required>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                        <div ng-messages-include="views/common/messages.html"></div>
                    </div>
                </div>
                <fieldset ng-disabled="main.isSaving">
                    <div class="clearfix">
                        <div class="text-center"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a></div>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary mt-lg" ng-disabled="loginForm.$invalid">Login</button>
                </fieldset>
            </form>
            <div ng-show="main.authMsg" class="alert alert-danger text-center" translate>{{main.authMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
    </div>
</div>
