<menu-button-div/>
<div class="panel panel-primary">
    <div class="panel-heading" translate="text.masterCreate"></div>
    <div class="panel-body">
        <alert-message-div/>
        <form name="masterForm" class="form-horizontal form-validate" ng-submit="master.createMaster(masterForm.$valid)" novalidate>
            <div ng-include src="'views/master_form.html'"></div>
            <fieldset ng-disabled="master.isSaving">
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" ng-disabled="masterForm.$invalid" translate="button.create"></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
