<div class="panel panel-info">
    <div class="panel-heading" translate="text.packageView"></div>
    <div class="panel-body">
        <alert-message-div/>
        <fieldset disabled>
            <form name="packageForm" class="form-horizontal form-validate" ng-submit="package.deletePackage(packageForm.$valid)" novalidate>
                <div ng-include src="'views/package_form.html'"></div>
            </form>
        </fieldset>
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-3">
                <a ui-sref="root.main.packageListing" class="btn btn-default" translate="button.back"></a>
                <a ui-sref="root.main.packageEdit({id:package.package.id})" class="btn btn-primary" role="button" translate="button.edit"></a>
                <button type="submit" class="btn btn-warning" translate="button.delete"></button>
            </div>
        </div>
    </div>
</div>
