<menu-button-div/>
<div class="panel panel-info">
    <div class="panel-heading" translate="text.reportListing"></div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr>
                <td class="col-xs-1">1.</td>
                <td translate="text.winLossDetails"></td>
                <td class="text-right">
                    <a ui-sref="root.main.winLossDetailsReport" class="btn btn-oval btn-lg btn-info" role="button" translate="button.view"></a>
                </td>
            </tr>
            <tr>
                <td class="col-xs-1">2.</td>
                <td translate="text.drawWinningNumber"></td>
                <td class="text-right">
                    <a ui-sref="root.main.drawWinningNumberReport" class="btn btn-oval btn-lg btn-info" role="button" translate="button.view"></a>
                </td>
            </tr>
            <tr>
                <td class="col-xs-1">3.</td>
                <td translate="text.companyDrawResults"></td>
                <td class="text-right">
                    <a ui-sref="root.main.companyDrawResultsReport" class="btn btn-oval btn-lg btn-info" role="button" translate="button.view"></a>
                </td>
            </tr>
        </table>
        <br/>
        <table class="table table-striped table-hover" ng-if="report.userType == APPCONSTANT.USER.TYPE.MASTER">
            <tr>
                <td colspan="3" class="info"><strong translate="text.masterReportListing"></strong></td>
            </tr>
            <tr>
                <td class="col-xs-1">1.</td>
                <td translate="text.betSumAmountNumber"></td>
                <td class="text-right">
                    <a ui-sref="root.main.betSumAmountNumberReport" class="btn btn-oval btn-lg btn-info" role="button" translate="button.view"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
