<menu-button-div/>
<div class="panel panel-info">
    <div class="panel-heading" translate="text.reportListing"></div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr>
                <td class="col-xs-1">1.</td>
                <td translate="text.winLossDetails"></td>
                <td class="text-right">
                    <a ui-sref="root.main.winLossDetailsReport" class="btn btn-oval btn-lg btn-info" role="button" translate="button.view"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
