<menu-button-div/>
<div class="panel panel-primary">
    <div class="panel-heading" translate="text.userCreate"></div>
    <div class="panel-body">
        <alert-message-div/>
        <form name="userForm" class="form-horizontal form-validate" ng-submit="user.createUser(userForm.$valid)" novalidate>
            <div ng-include src="'views/user_form.html'"></div>
            <br/>
            <fieldset ng-disabled="user.isSaving">
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" translate="button.create"></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
