<div class="panel panel-primary">
    <div class="panel-heading" ng-if="$state.current.name == 'root.main.userEdit'" translate="text.userEdit"></div>
    <div class="panel-heading" ng-if="$state.current.name == 'root.main.myAccountEdit'" translate="text.myAccountEdit"></div>
    <div class="panel-body">
        <alert-message-div/>
        <uib-tabset>
            <uib-tab heading="{{'text.userInformation'|translate}}">
                <form name="userForm" class="form-horizontal form-validate" ng-submit="user.updateUser(userForm.$valid)" novalidate>
                    <div ng-include src="'views/user_form.html'"></div>
                    <br/>
                    <fieldset ng-disabled="user.isSaving">
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-3">
                                <a ng-if="$state.current.name == 'root.main.userEdit'" ui-sref="root.main.userListing" class="btn btn-default" translate="button.back"></a>
                                <a ng-if="$state.current.name == 'root.main.myAccountEdit'" ui-sref="root.main.myAccount" class="btn btn-default" translate="button.back"></a>
                                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" translate="button.update"></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </uib-tab>
            <uib-tab heading="{{'text.userPassword'|translate}}">
                <form name="userPasswordForm" class="form-horizontal form-validate" ng-submit="user.changeUserPassword(userPasswordForm.$valid)" novalidate>
                    <div class="form-group required">
                        <label for="usernameDisplay" class="col-lg-3 control-label" translate="text.username"></label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="usernameDisplay" name="usernameDisplay" value="{{user.user.username}}" disabled>
                        </div>
                    </div>
                    <div ng-if="$state.current.name == 'root.main.myAccountEdit'" class="form-group required" ng-class="{ 'has-error' : userPasswordForm.currentPassword.$invalid && userPasswordForm.currentPassword.$touched}">
                        <label for="currentPassword" class="col-lg-3 control-label" translate="text.currentPassword"></label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="{{'placeholder.currentPassword'|translate}}"
                                   ng-model="user.user.currentPassword" ng-minlength="6" ng-maxlength="100" required>
                            <div class="help-block" ng-messages="userPasswordForm.currentPassword.$error" ng-show="userPasswordForm.currentPassword.$touched">
                                <div ng-messages-include="views/common/messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required" ng-class="{ 'has-error' : userPasswordForm.password.$invalid && userPasswordForm.password.$touched}">
                        <label for="password" class="col-lg-3 control-label" translate="text.password"></label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="password" name="password" placeholder="{{'placeholder.password'|translate}}"
                                   ng-model="user.user.password" ng-minlength="6" ng-maxlength="100" ng-model-options="{ debounce: { 'default': 300, 'blur': 0 }  }"
                                   ng-change="user.checkPassword(userPasswordForm.password,userPasswordForm.confirmPassword)" required>
                            <div class="help-block" ng-messages="userPasswordForm.password.$error" ng-show="userPasswordForm.password.$touched">
                                <div ng-messages-include="views/common/messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required" ng-class="{ 'has-error' : userPasswordForm.confirmPassword.$invalid && userPasswordForm.confirmPassword.$touched}">
                        <label for="confirmPassword" class="col-lg-3 control-label" translate="text.confirmPassword"></label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'placeholder.confirmPassword'|translate}}"
                                   ng-model="user.user.confirmPassword" ng-minlength="6" ng-maxlength="100" ng-model-options="{ debounce: { 'default': 300, 'blur': 0 }  }"
                                   ng-change="user.checkPassword(userPasswordForm.password,userPasswordForm.confirmPassword)" required>
                            <div class="help-block" ng-messages="userPasswordForm.confirmPassword.$error" ng-show="userPasswordForm.confirmPassword.$touched">
                                <div ng-messages-include="views/common/messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <fieldset ng-disabled="user.isSaving">
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-3">
                                <a ng-if="$state.current.name == 'root.main.userEdit'" ui-sref="root.main.userListing" class="btn btn-default" translate="button.back"></a>
                                <a ng-if="$state.current.name == 'root.main.myAccountEdit'" ui-sref="root.main.myAccount" class="btn btn-default" translate="button.back"></a>
                                <button type="submit" class="btn btn-primary" ng-disabled="userPasswordForm.$invalid" translate="button.update"></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
