<p ng-message="required">{{ "message.required" | translate}}</p>
<p ng-message="minlength">{{ "message.minlength" | translate}}</p>
<p ng-message="maxlength">{{ "message.maxlength" | translate}}</p>
<p ng-message="email">{{ "message.email" | translate}}</p>
<p ng-message="unique">{{ "message.unique" | translate}}</p>
<p ng-message="pattern">{{ "message.pattern" | translate}}</p>
<p ng-message="min">{{ "message.min" | translate}}</p>
<p ng-message="matching">{{ "message.matching" | translate}}</p>
<p ng-message="date">{{ "message.date" | translate}}</p>


